<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Find your teacher reference number</h1>

    <p class="govuk-body">
       Ut sagittis sapien odio, vel lacinia nulla suscipit vel. Pellentesque
       scelerisque bibendum elit, ac ullamcorper lacus mattis quis. Aenean in justo
       at arcu ornare venenatis eget gravida tellus. Pellentesque ut nisi at eros
       aliquam viverra a eget metus. Pellentesque quis pulvinar nulla. Proin
       scelerisque augue quis purus fringilla, et dapibus purus vulputate. Nunc
       condimentum, augue ac lacinia vehicula, ex risus faucibus justo, eu maximus
       metus erat tempor mauris.
    </p>

    <%= govuk_start_button(text: "Start now", href: trn_edit_path("do-you-have-a-trn")) %>
</div>
